@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

body{
  max-height: 1155px;
  background-image: linear-gradient(to right, #039be5, #3ac08f);
}

